<header>
    <div class="container">
        <nav>
            <span>TE Project</span>
            <a href="https://github.com/grntco" target="_blank">My GitHub</a>
        </nav>
    </div>
</header>