<form action="/" method="GET">
    <label for="country1">Country 1:</label>
    <select name="country1" id="country1">
        <option value="" disabled selected>-- Select Country ---</option>
        <option value="united states">United States</option>
        <option value="china">China</option>
        <option value="france">France</option>
        <option value="germany">Germany</option>
        <option value="india">India</option>
        <option value="italy">Italy</option>
        <option value="japan">Japan</option>
        <option value="mexico">Mexico</option>
        <option value="russia">Russia</option>
        <option value="united kingdom">United Kingdom</option>
    </select>
    <label for="country2">Country 2:</label>
    <select name="country2" id="country2">
        <option value="" disabled selected>-- Select Country ---</option>
        <option value="united states">United States</option>
        <option value="china">China</option>
        <option value="france">France</option>
        <option value="germany">Germany</option>
        <option value="india">India</option>
        <option value="italy">Italy</option>
        <option value="japan">Japan</option>
        <option value="mexico">Mexico</option>
        <option value="russia">Russia</option>
        <option value="united kingdom">United Kingdom</option>
    </select>
    <button type="submit">Compare</button>
</form>