* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: "Noto Sans", sans-serif;
  --primary-bg-color: #fafafa;
  --secondary-bg-color: #eeeeee;
  --tertiary-bg-color: #2a2a2a;
  --border-color: #bbbbbb;
  --primary-txt-color: #333333;
  --secondary-txt-color: #666666;
  --tertiary-txt-color: #8a8a8a;
  --white: #fff;
  --red: #ff3333;
  --red-dark: #ff0000;
  --blue: #3333ff;
  --blue-dark: #0000ff;
  --green: #329932;
  --box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-family);
  color: var(--primary-txt-color);
  background-color: var(--primary-bg-color);
  letter-spacing: 0.025rem;
}

header {
  padding: 1rem 1rem;
  background-color: var(--tertiary-bg-color);
  color: var(--white);
}

nav {
  display: flex;
  justify-content: space-between;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

nav a:hover {
  color: var(--tertiary-txt-color);
  text-decoration: underline;
}

main {
  position: relative;
}

section {
  padding: 6rem 3rem;
}

section + section {
  border-top: 1px solid var(--border-color);
}

h1,
h2 {
  margin: 1.5rem 0 0.5rem;
}

h2,
h3 {
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--border-color);
}

p {
  margin: 1rem 0 1.25rem;
  line-height: 1.5rem;
}

a {
  color: var(--secondary-txt-color);
  text-underline-offset: 4px;
}

a:hover {
  color: var(--primary-txt-color);
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.row {
  display: flex;
  gap: 2rem;
}

.col {
  width: 50%;
}

.btn {
  background: none;
  border: none;
  padding: 0.75rem 1rem;
  border-radius: 4px;
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 0.9rem;
  letter-spacing: 0.025rem;
  box-shadow: var(--box-shadow);
  -webkit-box-shadow: var(--box-shadow);
  -moz-box-shadow: var(--box-shadow);
}

.btn:hover {
  background-color: var(--blue-dark);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  cursor: pointer;
}

.error {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  padding: 0.5rem 2rem;
  min-width: 250px;
  background-color: var(--primary-bg-color);
  border: 2px solid var(--red);
  border-radius: 4px;
  color: var(--red);
}

/* Compare Form */
.form-container {
  padding: 3rem 4rem;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.form-container form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3rem;
}

.form-container .selects-list {
  width: 100%;
  display: flex;
  gap: 2rem;
}

.form-container .select-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-container label {
  font-weight: 600;
  font-size: 0.9rem;
}

.form-container select {
  background: none;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-family: var(--font-family);
  background-color: var(--primary-bg-color);
  color: var(--secondary-txt-color);
  font-size: 0.9rem;
  cursor: pointer;
}

/* Charts */
.chart-container {
  padding: 3rem 4rem 3rem 2rem;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

/* Top Countries Table */
.top-countries table {
  margin-top: 1rem;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.top-countries thead {
  border: 1px solid var(--tertiary-bg-color);
}

.top-countries thead tr th {
  background-color: var(--tertiary-bg-color);
  color: #fff;
  text-align: start;
}

.top-countries tbody {
  border: 1px solid var(--border-color);
}

.top-countries tbody tr {
  border-top: 1px solid var(--border-color);
}

.top-countries tbody tr:nth-child(odd) td {
  background-color: var(--secondary-bg-color);
}

.top-countries th,
td {
  padding: 1rem 0.5rem;
}

.top-countries th.text-center,
.top-countries td.text-center {
  text-align: center;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1000px) {
  .row {
    flex-direction: column;
  }

  .col {
    width: 100%;
  }
}

@media screen and (max-width: 760px) {
  section {
    padding: 1rem;
  }

  .form-container {
    padding: 1rem;
  }

  .form-container .selects-list {
    flex-direction: column;
  }

  .chart-container {
    padding: 1rem;
  }

  .top-countries th,
  td {
    padding: 0.25rem 0.25rem;
  }
}

@media screen and (max-width: 600px) {
  header nav {
    flex-direction: column;
    gap: 0.5rem;
  }

  .top-countries thead tr th:first-child,
  .top-countries tbody tr td:first-child {
    display: none;
  }
}
